<div class="row">
  <div class="col-8">
    <thead>
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of eventList">
        <td class="p-2 m-3">{{ data.date  }}</td>
        <td class="p-2 m-3">{{ data.time   }}</td>
        <td class="p-2 m-3">{{ data.name  }}</td>
        <td class="p-2 m-3">{{ data.location.address }} {{ data.location.city }} {{ data.location.country }}</td>
      </tr>
    </tbody>
  </div>
</div>
